.container {
    width: 700px;
    margin: 20px auto;
    padding: 10px;
  }
  
  .form-box input {
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #bbb;
  }
  
  .form-box button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  