
<div class="profile-section">
  <h2>Profile</h2>
  <div class="profile-card">
    <div class="profile-left">
      <img
        src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
        alt="Profile Photo"
        class="profile-pic"
        
      />
      <p class="student-name">John Doe</p>
    </div>

    <div class="profile-info">
      <p><strong>Name:</strong> John Doe</p>
      <p><strong>Email:</strong> john.doe@school.com</p>
      <p><strong>Class:</strong> 10A</p>
      <p><strong>Parent Contact:</strong> +123-466-790</p>
      <p><strong>Admission Date:</strong> 2023-09-01</p>
      <p><strong>EduLink Academy</strong></p>
    </div>
  </div>

    <button [routerLink]="'/student-dasboard'" class="back-btn"> ⬅️ Back to Dashboard</button>
</div>
