<div class="profile-container">
  <div class="left-card">
    <div class="profile-img">
      <img src="assets/profile.jpg" alt="Student Photo">
    </div>

    <h2 class="student-name">John Doe</h2>
    <p class="student-role">Class: Grade 10 - A</p>
  </div>

  <div class="right-card">
    <h3 class="title">Profile Details</h3>

    <div class="details">
      <p><span>Name :</span> John Doe</p>
      <p><span>Class :</span> Grade 10 - A</p>
      <p><span>Email :</span> john@student.com</p>
      <p><span>Phone :</span> +94 77XXXXXXX</p>
      <p><span>Admission Date :</span> 2023-05-12</p>
    </div>
  </div>
</div>
 <div>
    <button [routerLink]="'/student-dashboard'" class="back-btn"> ⬅️ Back to Dashboard</button>
  </div>


