
body {
  background: #0f0f2d;
  font-family: 'Poppins', sans-serif;
}

.profile-container {
  width: 85%;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(90deg, #0f3d7a, #2c82ff);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.left-card, .right-card {
  width: 48%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 30px;
  color: white;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 4px solid #2c82ff;
  box-shadow: 0 5px 25px rgba(0, 140, 255, 0.6);
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.student-name {
  text-align: center;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
  color: #6bc9ff;
}

.student-role {
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  color: #c7d4ff;
}

.right-card .title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: #96d0ff;
}

.details p {
  font-size: 16px;
  margin: 12px 0;
}

.details span {
  font-weight: 600;
  color: #6bc9ff;
}
.btn-center {
  width: 500%;
  display: flex;
  justify-content:center   /* Center horizontally */
  margin-top 100x;
}

.back-btn {
  background: linear-gradient(90deg, #04080f, #6bc9ff);
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(0, 140, 255, 0.3);
  transition: 0.3s;
  justify-content: center;
}

.back-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(3, 15, 24, 0.5);
}

