body {
  background: #022040c1;
  font-family: "Poppins", sans-serif;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #034b97c1;
  padding: 30px 20px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.05);
  border-radius: 0 20px 20px 0;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #030a12c1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover,
.sidebar li.active {
  background: #0f0f0f;
  color: #f7f7f7c1;
  font-weight: 600;
}

button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #2563eb;
}


/* Main Area */
.main-content {
  flex: 1;
  padding: 30px 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  width: 30%;
  padding: 10px 15px;
  border: 2px solid #0d0d0e;
  border-radius: 10px;
  font-size: 15px;
  outline:#0f0f0f;
  transition: 0.3s;
}

.search-box:focus {
  border-color: #2563eb;
  box-shadow: 0 0 6px rgba(19, 143, 201, 0.4);
}

.icons span {
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
}

.welcome-section {
  margin: 20px 0;
}

.stats-section {
  display: flex;
  gap: 20px;
}

.card {
  background:#86b4e5c1;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  flex: 1;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h4 {
  font-size: 15px;
  color: #110404;
}

.value {
  font-size: 32px;
  color: #034b97c1;
  font-weight: 700;
}

.grade {
  font-size: 20px;
  font-weight: 600;
  color: #050705;
}

/* Bottom Section */
.bottom-section {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.card-table {
  flex: 1;
  background: #619ad7c1;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px 10px;
}

th {
  background:#034b97c1;
  border-radius: 5px;
}

/* 🔲 Popup styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;  /* 👈 Add this */
}


.popup-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.popup-box h3 {
  margin-bottom: 25px;
  color: #333;
}


.popup-buttons {
  display: flex;
  justify-content: space-around;
}

.cancel-btn {
  background: #ccc;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.ok-btn:hover {
  background: #0056b3;
}

.cancel-btn:hover {
  background: #999;
}

