<div class="container">
  <h2>Manage Exams</h2>
  
  <form (ngSubmit)="saveExam()" class="exam-form">
    <div class="form-grid">
  
      <!-- Exam Name -->
      <div class="input-group">
        <i class="bi bi-card-heading"></i>
        <input placeholder="Exam Name" [(ngModel)]="exam.examName" name="examName" required />
      </div>
  
      <!-- Exam Date -->
      <div class="input-group">
        <i class="bi bi-calendar-event"></i>
        <input type="date" [(ngModel)]="exam.examDate" name="examDate" required />
      </div>
  
      <!-- Class Dropdown -->
      <div class="input-group">
        <i class="bi bi-building"></i>
        <select [(ngModel)]="exam.classID" name="classID" required (change)="onClassChange($event)">
          <option value="" disabled>-- Select Class --</option>
          <option *ngFor="let c of classes" [value]="c.classId">
            {{ c.className }} (Grade {{ c.grade }})
          </option>
        </select>
      </div>
  
      <!-- Subject Dropdown -->
      <div class="input-group">
        <i class="bi bi-book-half"></i>
        <select [(ngModel)]="exam.subjectID" name="subjectID" required (change)="onSubjectChange($event)">
          <option value="" disabled selected>-- Select Subject --</option>
          <option *ngFor="let s of subjects" [value]="s.subjectID">
            {{ s.subjectName }}
          </option>
        </select>
      </div>
  
    </div>
  
    <!-- Buttons -->
    <div class="form-actions">
      <button type="submit" class="btn-primary">
        {{ editMode ? "Update Exam" : "Add Exam" }}
      </button>
      <button type="button" class="btn-secondary" (click)="resetForm()">
        Clear Form
      </button>
    </div>
  </form>
  <table>
    <tr>
      <th>Exam</th>
      <th>Date</th>
      <th>Class</th> 
      <th>Subject</th>
      <th>Actions</th>
    </tr>

    <tr *ngFor="let e of exams ">
      <td>{{ e.examName }}</td>
      <td>{{ e.examDate | date:'yyyy-MM-dd' }}</td>
      <td>{{ getClassName(e.classID) }}</td>
      <td>{{ getSubjectName(e.subjectID) }}</td>
      <td>
        <button (click)="editExam(e)">Edit</button>
        <button class="del" (click)="deleteExam(e.examID)">Delete</button>
      </td>
    </tr>
    
  </table>
</div>
