.container {
    width: 70%;
    margin: auto;
    padding: 20px;
  }
  
  input {
    padding: 8px;
    margin: 5px;
    width: 250px;
  }
  
  button {
    padding: 7px 14px;
    margin: 5px;
  }
  
  .clear {
    background: gray;
    color: white;
  }
  
  .del {
    background: red;
    color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  td, th {
    border: 1px solid black;
    padding: 8px;
  }
  