/* Container */
.attendance-container {
  max-width: 1000px;
  margin: 60px auto;
  padding: 210px;
  background: #619ad7c1;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  font-family: 'Poppins', sans-serif;
}

/* Full screen container */
.attendance-page {
  width: 100%;
  height: 100vh;
  background-color: #8bb8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Page Title */
.page-title {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 100px;
  color: #2c3e50;
}

/* Filter Section */
.filter-section {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-item {
  display: flex;
  flex-direction: column;
}

.filter-item label {
  font-size: 13px;
  color: #555;
  margin-bottom: 4px;
}

.filter-item input,
.filter-item select {
  padding: 6px 10px;
  border: 1px solid #d8cccc;
  border-radius: 6px;
  min-width: 150px;
}

.btn-view {
  background: #3498db;
  color: #fff;
  border: none;
  padding: px px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
}

.btn-view:hover {
  background: #2980b9;
}

/* Summary Cards */
.summary-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  min-width: 180px;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.card h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

.card p {
  font-size: 24px;
  font-weight: 600;
}

.card.present {
  background: #d6eed6;
  border-left: 10px solid #2ecc71;
}

.card.absent {
  background: #e9d0d0;
  border-left: 5px solid #e74c3c;
}

.card.late {
  background: #ebe3ce;
  border-left: 5px solid #f1c40f;
}

/* Table Section */
.table-section {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background:#034b97c1;
  color: #fff;
}

th,
td {
  padding: 10px 12px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background: #f9f9f9;
}

tbody tr:hover {
  background: #eef6fc;
}

.status {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
}

.status.present {
  background: #2ecc71;
  color: white;
}

.status.absent {
  background: #e74c3c;
  color: white;
}

.status.late {
  background: #f1c40f;
  color: black;
}

/* Responsive */
@media (max-width: 768px) {
  .filter-section {
    flex-direction: column;
    align-items: center;
  }
  .summary-cards {
    flex-direction: column;
    align-items: center;
  }
  
}
