<!-- Navbar already included -->
  <app-navbar></app-navbar>

<!-- PREMIUM HERO SECTION -->
  <section class="hero-section">
    <div class="container">

<!-- Main Hero Content -->

    <div class="hero-content">
      <h1>
      Welcome to <span>Smart School</span>  
      Where Every Child's Potential Becomes Reality
    </h1>

    <p>
      We don't just teach — we inspire, nurture, and empower the leaders of tomorrow. 
      At Smart School, learning goes beyond books. It's about curiosity, creativity, confidence, and character.
    </p>

    
      <!-- Social Proof -->
      <div class="social-proof">
        <div class="avatars">
          <img src="https://static.vecteezy.com/system/resources/thumbnails/072/501/278/small/excited-schoolboy-ready-for-learning-and-success-against-a-green-background-photo.jpg" alt="student">
          <img src="https://img.freepik.com/premium-photo/little-champion-boy-with-gold-medal-first-place-rejoicing-success-celebrating-victory-male-child-athlete-football-player-expressing-extreme-joy-screaming-delightful-generative-ai_266732-36311.jpg?semt=ais_hybrid&w=740&q=80" alt="student">
          <img src="https://img.freepik.com/premium-photo/portrait-boy-looking-table_1048944-19165477.jpg?semt=ais_hybrid&w=740&q=80" alt="student">
          <span class="more">+12k</span>
        </div>
        <p><strong>5000+</strong> students already joined our platform.<br>
           Be part of the future of learning!</p>
      </div>
    </div>

    <!-- Girl Image -->
    <div class="hero-image">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/026/895/883/small/asian-kid-in-emotional-dynamic-pose-in-school-ai-generative-free-photo.jpg" alt="Happy Student Learning" />
    </div>

  </div>
</section>

<!-- About Section (already as component) -->
<app-about></app-about>