<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Smart School Login | EDULink</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>

  <div class="login-wrapper">

    <!-- Left Section -->
    <div class="left-panel">
      <img src="https://img.freepik.com/premium-photo/children-back-school_1234759-48326.jpg" alt="">
      <h2>Welcome to<br><span>Smart School System</span></h2>
      <p>Your Gateway to a Smarter, Connected School Experience.</p>
    </div>
  
    <!-- Right Section -->
    <div class="right-panel">
      <div class="logo">
        <img src="https://images.wuzzuf-data.net/files/company_logo/Smart-School-Egypt-36257-1537730727-og.jpg" alt="">
      </div>
  
      <h3>EDULink</h3>
      <h4>Secure Login</h4>
  
      <div class="login-form">
  
        <div class="input-group">
          <div class="input-icon">
            <img src="https://cdn-icons-png.flaticon.com/512/206/206853.png">
          </div>
          <input type="email" [(ngModel)]="email" placeholder="Email">
        </div>
  
        <div class="input-group">
          <div class="input-icon">
            <img src="https://cdn-icons-png.flaticon.com/512/7069/7069204.png">
          </div>
          <input type="password" [(ngModel)]="password" placeholder="Password">
        </div>
  
        <div class="options">
          <label><input type="checkbox"> Remember me</label>
          <a routerLink="/forgot-password">Forgot Password?</a>

        </div>
  
        <button class="login-btn" (click)="loginButton()">LOGIN</button>
  
        <p>or</p>
  
        <p>
          Don’t have an account?
          <button class="btn register-btn" routerLink="/register">SignUp</button>
        </p>
      </div>
    </div>
  </div>
</body>

  