.chatbot-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 65px;
  height: 65px;
  background: #4176ab;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 8px 25px rgba(0,0,0,0.3);
  transition: 0.3s ease;
  z-index: 99999;
}

.chatbot-btn:hover {
  transform: scale(1.10);
  background: #345f89;
}

.chatbot-btn img {
  width: 35px;
  filter: brightness(0) invert(1);
}

