body {
  background: #022040c1;
  font-family: "Poppins", sans-serif;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #034b97c1;
  padding: 30px 20px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.05);
  border-radius: 0 20px 20px 0;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #030a12c1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover,
.sidebar li.active {
  background: #0f0f0f;
  color: #f7f7f7c1;
  font-weight: 600;
}

/* Main Area */
.main-content {
  flex: 1;
  padding: 30px 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  width: 300px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background: #0c191e;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.icons span {
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
}

.welcome-section {
  margin: 20px 0;
}

.stats-section {
  display: flex;
  gap: 20px;
}

.card {
  background:#86b4e5c1;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  flex: 1;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h4 {
  font-size: 15px;
  color: #110404;
}

.value {
  font-size: 32px;
  color: #034b97c1;
  font-weight: 700;
}

.grade {
  font-size: 20px;
  font-weight: 600;
  color: #050705;
}

/* Bottom Section */
.bottom-section {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.card-table {
  flex: 1;
  background: #619ad7c1;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px 10px;
}

th {
  background:#034b97c1;
  border-radius: 5px;
}
